.signIn {
    margin-top: 29px;
    margin-bottom: 43px;    
    font-family: 'Poppins';
}

.signIn > .page-title {
    color: #1e1b1b;
    font-size: 30px;
    border: 0;
}

.signIn > .signIn-container {
    margin-top: 20px;
}

.form-group >.submit {
    padding: 10px;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background: #276afb;
    width: 93px;
    height: 43px;
}